@page "{id}"
@model Lab4.Pages.Library.DeleteModel
@{
}

<div class="col-9">
    <h2>Delete confirmation</h2>
</div>


<div class="alert alert-danger">
    <h5>Are you sure you want to remove @Model.Customer.Name?</h5>
    <form method="post">

        <button type="submit" class="btn btn-danger mr-1">Delete</button>

        <a asp-page="/Library/Index" class="btn btn-primary">No</a>

    </form>
</div>